{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Copy meal: {{ searched }}</h1>
    </div>
</section>
{% if items.first() %}
<section class="section-jumbo">
    {% for item in items %}
        <div class="row justify-content-center p-3">
            <div class="col-lg-4 col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">{{ item.name }}</h1>
                    <p class="lead">Calories: {{ item.calories|round(2) }}</p>
                    <p class="lead">Protein: {{ item.protein|round(2) }}</p>
                    <p class="lead">Carbs: {{ item.carb|round(2) }}</p>
                    <p class="lead">Fat: {{ item.fat|round(2) }}</p>
                    <hr class="my-4">
                    <form method="post">
                        <input type="submit" class="btn btn-success" name="{{ item.id }}" value="Copy">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% else %}
<section class="section-diet">
    <div class="container-fluid">
        <p>No search results for: {{ searched }}.</p>
    </div>
</section>
{% endif %}
{% endblock %}