{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Rating search for: {{ searched }}</h1>
    </div>
</section>
{% if items %}
<section class="section-jumbo">
    {% for item in items %}
        <div class="row justify-content-center p-3">
            <div class="col-lg-4 col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">{{ item.name }}</h1>
                    <p class="lead">Calories: {{ item.calories|round(2) }}</p>
                    <p class="lead">Protein: {{ item.protein|round(2) }}</p>
                    <p class="lead">Carbs: {{ item.carb|round(2) }}</p>
                    <p class="lead">Fat: {{ item.fat|round(2) }}</p>
                    <hr class="my-4">
                    {% if item.link %}
                    <p><a href="{{ item.link }}">Link</a></p>
                    {% endif %}
                    {% if item.recipe %}
                    <p>{{ item.recipe }}</p>
                    {% endif %}
                    <div class="row justify-content-around">
                        <div class="col-4">
                            <a href="{{ url_for('public.rate_commit', rating=3, item_id=item.id, searched=searched, edit=1) }}" class="btn btn-light">😋<br>
                            Yum</a>
                        </div>
                        <div class="col-4">
                            <a href="{{ url_for('public.rate_commit', rating=2, item_id=item.id, searched=searched, edit=1) }}" class="btn btn-light">😑<br>
                            Meh</a>
                        </div>
                        <div class="col-4">
                            <a href="{{ url_for('public.rate_commit', rating=1, item_id=item.id, searched=searched, edit=1) }}" class="btn btn-light">🤮<br>
                            Yuck</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% else %}
<section class="section-diet">
    <div class="container-fluid">
        <p>No search results for: {{ searched }}.</p>
    </div>
</section>
{% endif %}
{% endblock %}