{% extends 'base.html' %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <h1 class="big-heading">Hungry? Dieting? Find a new meal that will fit in <u>perfectly</u>.
                    (Well, almost.)</h1>
            </div>
            <div class="col-lg-6 col-md-12 desktop-only">
                <img class="img-example" src="{{ url_for('static', filename='assets/example.png') }}"/>
            </div>
        </div>
    </div>
</section>
<section class="section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h1>😎</h1>
                <h3 class="medium-heading">Easy to use.</h3>
                <p>Type the meal you want to replace and check out the suggestions.</p>
            </div>
            <div class="col-lg-4 col-md-12">
                <h1>🔧</h1>
                <h3 class="medium-heading">Customize.</h3>
                <p>Add your own meals and products. Set macronutrient goals. Copy meals and make easy adjustments.</p>
            </div>
            <div class="col-lg-4 col-md-12">
                <h1>📝</h1>
                <h3 class="medium-heading">Track your diet.</h3>
                <p>Add your meals to track calories and macros. Get suggestions based on your ratings of meals.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-cta">
    <div class="container-fluid">
        <h2 class="medium-heading">Get your free account <a href="{{ url_for('user.register') }}">here.</a></h2>
    </div>
</section>
{% endblock %}
