{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Meal replacement search</h1>
    </div>
</section>
<section class="section-form">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                {% with messages = get_flashed_messages() %}
                <p>{{ messages[-1] }}</p>
                {% endwith %}
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item p-1 w-100">
                        <a class="btn btn-outline-success active w-100" id="pills-name-tab" data-toggle="pill" href="#pills-name"
                           role="tab" aria-controls="pill-empty" aria-selected="true">Search by name</a>
                    </li>
                    <li class="nav-item p-1 w-100">
                        <a class="btn btn-outline-success w-100" id="pills-macros-tab" data-toggle="pill" href="#pills-macros"
                           role="tab" aria-controls="pill-compose" aria-selected="false">Search by macros</a>
                    </li>
                    <li class="nav-item p-1 w-100">
                        <a class="btn btn-outline-success w-100" id="pills-discover-tab" data-toggle="pill" href="#pills-discover"
                           role="tab" aria-controls="pill-compose" aria-selected="false">Search by ratings</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-name" role="tabpanel" aria-labelledby="pills-name-tab">
                        {{ render_form(name_form) }}
                    </div>
                    <div class="tab-pane fade" id="pills-macros" role="tabpanel" aria-labelledby="pills-macros-tab">
                        {{ render_form(macro_form) }}
                    </div>
                    <div class="tab-pane fade" id="pills-discover" role="tabpanel" aria-labelledby="pills-discover-tab">
                        <p class="text-center">Find new interesting meals based on your previous ratings.</p>
                        {{ render_form(discover_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}