<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="wiktor-jedski"/>
        <meta name="application-name" content="mealswap"/>
        <meta name="description" content="A web app for meal tracking, suggestion, replacement"/>

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <!--Custom CSS-->
            <link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
            <script src="https://kit.fontawesome.com/611ca9dd08.js" crossorigin="anonymous"></script>
        {% endblock %}

        <title>mealswap 🍲</title>
        {% endblock %}
    </head>
    <body>
        <section class="section-header" id="header__navbar">
            <nav class="navbar sticky-top navbar-dark navbar-expand-md" role="navigation">
                <a class="navbar-brand navbar-logo" href="{{ url_for('public.home') }}">mealswap 🍲</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center justify-content-end" id="navbarNav">
                    {% if user.is_active %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{{ url_for('public.search') }}">Search</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Add
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('public.add_product') }}">Product</a>
                                <a class="dropdown-item" href="{{ url_for('public.add_meal') }}">Meal</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Edit
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('public.edit_meals') }}">Meal</a>
                                <a class="dropdown-item" href="{{ url_for('public.edit_ratings') }}">Rating</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{{ url_for('public.rate') }}">Rate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="#">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{{ url_for('user.logout') }}">Log Out</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{{ url_for('user.login') }}">Log In</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
        </section>
        <!-- Page content -->
        {% block content %}{% endblock %}

        {% block footer %}
        <section class="section-footer">
            <div class="container-fluid">
                <div class="nav-item">
                    <a href="{{ url_for('public.contact') }}" style="color: white">Contact & Info</a>
                </div>
                <div class="justify-content-center">
                    MIT License, 2022
                </div>
            </div>
        </section>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>