:root {
   --primary-color: #D06224;
   --primary-color-dark: #AE431E;
   --secondary-color: #8A8635;
   --tertiary-color: #E9C891;
   --on-primary-color: white;
   --link: #0d7e00;
}

/* site-wide applicable */
.container-fluid {
   padding: 3% 7%;
}

body {
   background: var(--primary-color-dark);
}

a, a:hover {
   color: var(--link);

}

a:active {
   color: black;
}

.desktop-only {
    visibility: hidden;
}

@media (min-width: 1028px) {
   .desktop-only {
   visibility: inherit
   }
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
 }

.medium-heading {
   font-size: 2rem;
   line-height: 1.5
}

/* Navbar */

.navbar {
   width: 100%;
}

.navbar__search-form {
   display: inline-block;
}

.navbar-logo {
   font-size: 2rem;
   font-weight: bold;
}

/* Header */

.section-header {
   background-color: var(--primary-color-dark);
   color: var(--on-primary-color);
}

/* Features */

.section-features {
   text-align: center;
   background-color: var(--tertiary-color)
}

/* Carousel */

.section-carousel {
   background-color: var(--primary-color-dark);
   color: var(--on-primary-color);
   text-align: center;
}

/* Call to action */

.section-cta {
   background-color: var(--tertiary-color);
   text-align: center;
}

/* Footer */

.section-footer {
   background-color: var(--primary-color-dark);
   color: var(--on-primary-color);
   text-align: center;
}

/* Form */

.section-form {
    background-color: var(--tertiary-color);
}