{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field, render_form %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Compose meal: {{ item.name }}</h1>
        <p>Macros per 100g: {{ item.calories|round(2) }} kcal, {{ item.protein|round(2) }} g protein,
            {{ item.carb|round(2) }} g carbs, {{ item.fat|round(2) }} g fat</p>
    </div>
</section>

<section class="section-options">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                {{ link_recipe_form.csrf_token() }}
                {{ render_form(link_recipe_form) }}
            </div>
        </div>
    </div>
</section>

<section class="section-diet">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 text-center">
                <!-- ADD -->
                <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#addModal">Add Item</button>
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog text-left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addModalLabel">Add Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form method="post">
                                        {{ search_form.csrf_token() }}
                                        {{ render_field(search_form.search) }}
                                        <div class="row justify-content-around">
                                            <div class="col-6">
                                                {{ render_field(search_form.submitSearchForm) }}
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <!-- COPY -->
                <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#copyModal">Copy Meal</button>
                <div class="modal fade" id="copyModal" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
                    <div class="modal-dialog text-left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="copyModalLabel">Copy Meal</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form method="post">
                                        {{ copy_form.csrf_token() }}
                                        {{ render_field(copy_form.search) }}
                                        <div class="row">
                                            <div class="col-6">
                                                {{ render_field(copy_form.submitCopyMealForm) }}
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <!-- DELETE -->
                <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#deleteModal">Delete Items</button>
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog text-left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Items</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form method="post">
                                        {{ delete_form.csrf_token() }}
                                        <p>Are you sure? All current data for this meal will be lost.</p>
                                        <div class="row">
                                            <div class="col-6">
                                                {{ render_field(delete_form.submitDeleteForm) }}
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-lg-8 col-md-12">
                {% if item.products %}
                <div class="row font-weight-bold">
                    <div class="col-4">
                        Name/Calories/Weight
                    </div>
                    <div class="col-2">
                        Protein
                    </div>
                    <div class="col-2">
                        Carbs
                    </div>
                    <div class="col-2">
                        Fat
                    </div>
                </div>
                <hr>
                {% for a in item.products %}
                <div class="row">
                    <div class="col-10 small-heading">
                        {{ a.product.name }}: {{ (a.product.calories * a.qty / 100)|round(2) }} kcal
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#Modal{{ a.id }}">
                            Edit
                        </button>
                        <div class="modal fade" id="Modal{{ a.id }}" tabindex="-1" aria-labelledby="Modal{{ a.id }}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Modal{{ a.id }}Label">Edit qty for: {{ a.product.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form method="post">
                                                {{ edit_form.csrf_token() }}
                                                {{ render_field(edit_form.qty) }}
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="submit" class="btn btn-success float-left" value="Edit" name="{{ a.id }}">
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4">
                        {{ a.qty|round(2) }} g
                    </div>
                    <div class="col-2">
                        {{ (a.product.protein * a.qty / 100)|round(2) }}
                    </div>
                    <div class="col-2">
                        {{ (a.product.carb * a.qty / 100)|round(2) }}
                    </div>
                    <div class="col-2">
                        {{ (a.product.fat * a.qty / 100)|round(2) }}
                    </div>
                    <div class="col-2">
                        <a href="{{ url_for('add.delete_product_in_meal', item_id=item.id, assoc_id=a.id) }}" class="btn btn-danger btn-sm btn-block">Delete</a>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <div class="row py-2 justify-content-center">
                    <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#saveModal">Save Meal</button>
                    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
                        <div class="modal-dialog text-left">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="saveModalLabel">Save Meal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <form method="post">
                                            {{ save_form.csrf_token() }}
                                            <p>Are you sure? This meal will be closed for editing, and you will be able to add it to diet.</p>
                                            <div class="row justify-content-around">
                                                <div class="col-6">
                                                    {{ render_field(save_form.submitSaveForm) }}
                                                </div>
                                                <div class="col-6">
                                                    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="text-center">
                    No products yet. Maybe you want to add something?
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}