{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Rating search for: {{ searched }}</h1>
    </div>
</section>
{% if pagination.items %}
<div class="row justify-content-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Pagination buttons">
        {% if pagination.has_prev %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_ratings_search', page=pagination.prev_num, searched=searched) }}">
                {{ '<<<' }}
            </a>
        {% endif %}

        {% for number in pagination.iter_pages() %}
            {% if number %}
                {% if pagination.page != number %}
                    <a class="page-number btn btn-success" href="{{ url_for('edit.edit_ratings_search', page=number, searched=searched) }}">
                        {{ number }}
                    </a>
                {% else %}
                    <a class="btn btn-success disabled" aria-disabled="true">
                        {{ number }}
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-success disabled" aria-disabled="true">
                    ...
                </a>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_ratings_search', page=pagination.next_num, searched=searched) }}">
                {{ '>>>' }}
            </a>
        {% endif %}
    </div>
</div>
<section class="section-jumbo">
    {% for item in pagination.items %}
        <div class="row justify-content-center p-3">
            <div class="col-lg-6 col-md-12">
                <div class="jumbotron">
                    {% if item[1].link %}
                    <h1 class="display-4"><a href="{{ item[1].link }}" target="_blank">{{ item[1].name }}</a></h1>
                    {% else %}
                    <h1 class="display-4">{{ item[1].name }}</h1>
                    {% endif %}
                    {% if item[1].has_weight %}
                    <p class="lead">Calories per 100g: {{ item[1].calories|round(2) }}</p>
                    <p class="lead">Protein per 100g: {{ item[1].protein|round(2) }}</p>
                    <p class="lead">Carbs per 100g: {{ item[1].carb|round(2) }}</p>
                    <p class="lead">Fat per 100g: {{ item[1].fat|round(2) }}</p>
                    {% else %}
                    <p class="lead">Calories per ea: {{ item[1].calories|round(2) }}</p>
                    <p class="lead">Protein per ea: {{ item[1].protein|round(2) }}</p>
                    <p class="lead">Carbs per ea: {{ item[1].carb|round(2) }}</p>
                    <p class="lead">Fat per ea: {{ item[1].fat|round(2) }}</p>
                    {% endif %}
                    <p class="lead">Current rating:
                        {% if item[0] == 3 %}
                        😋 Yum
                        {% elif item[0] == 2 %}
                        😑 Meh
                        {% else %}
                        🤮 Yuck
                        {% endif %}
                    </p>
                    <hr class="my-4">
                    {% if item[1].recipe %}
                    <p>{{ item[1].recipe }}</p>
                    {% endif %}
                    <div class="row justify-content-around text-center">
                        <div class="col-4">
                            <a href="{{ url_for('rate.rate_commit', rating=3, item_id=item[1].id, searched=searched, edit=1) }}" class="btn btn-light">😋<br>
                            Yum</a>
                        </div>
                        <div class="col-4">
                            <a href="{{ url_for('rate.rate_commit', rating=2, item_id=item[1].id, searched=searched, edit=1) }}" class="btn btn-light">😑<br>
                            Meh</a>
                        </div>
                        <div class="col-4">
                            <a href="{{ url_for('rate.rate_commit', rating=1, item_id=item[1].id, searched=searched, edit=1) }}" class="btn btn-light">🤮<br>
                            Yuck</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
<div class="row justify-content-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Pagination buttons">
        {% if pagination.has_prev %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_ratings_search', page=pagination.prev_num, searched=searched) }}">
                {{ '<<<' }}
            </a>
        {% endif %}

        {% for number in pagination.iter_pages() %}
            {% if number %}
                {% if pagination.page != number %}
                    <a class="page-number btn btn-success" href="{{ url_for('edit.edit_ratings_search', page=number, searched=searched) }}">
                        {{ number }}
                    </a>
                {% else %}
                    <a class="btn btn-success disabled" aria-disabled="true">
                        {{ number }}
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-success disabled" aria-disabled="true">
                    ...
                </a>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_ratings_search', page=pagination.next_num, searched=searched) }}">
                {{ '>>>' }}
            </a>
        {% endif %}
    </div>
</div>
{% else %}
<section class="section-diet">
    <div class="container-fluid text-center">
        <p>No search results for: {{ searched }}.</p>
    </div>
</section>
{% endif %}
{% endblock %}