{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Your open meals</h1>
    </div>
</section>
{% if pagination.items %}
<div class="row justify-content-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Pagination buttons">
        {% if pagination.has_prev %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_meals', page=pagination.prev_num) }}">
                {{ '<<<' }}
            </a>
        {% endif %}

        {% for number in pagination.iter_pages() %}
            {% if number %}
                {% if pagination.page != number %}
                    <a class="page-number btn btn-success" href="{{ url_for('edit.edit_meals', page=number) }}">
                        {{ number }}
                    </a>
                {% else %}
                    <a class="btn btn-success disabled" aria-disabled="true">
                        {{ number }}
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-success disabled" aria-disabled="true">
                    ...
                </a>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_meals', page=pagination.next_num) }}">
                {{ '>>>' }}
            </a>
        {% endif %}
    </div>
</div>
<section class="section-jumbo">
    {% for item in pagination.items %}
        <div class="row justify-content-center p-3">
            <div class="col-lg-6 col-md-12">
                <div class="jumbotron">
                    {% if item.link %}
                    <h1 class="display-4"><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></h1>
                    {% else %}
                    <h1 class="display-4">{{ item.name }}</h1>
                    {% endif %}
                    <p class="lead">Calories per 100g: {{ item.calories|round(2) }}</p>
                    <p class="lead">Protein per 100g: {{ item.protein|round(2) }}</p>
                    <p class="lead">Carbs per 100g: {{ item.carb|round(2) }}</p>
                    <p class="lead">Fat per 100g: {{ item.fat|round(2) }}</p>
                    <hr class="my-4">
                    {% if item.recipe %}
                    <p>{{ item.recipe }}</p>
                    {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ url_for('add.compose_meal', item_id=item.id) }}" class="btn btn-success btn-block">Edit</a>
                        </div>
                        <div class="col-6 ">
                            <a href="{{ url_for('edit.delete_meal', item_id=item.id) }}" class="btn btn-danger btn-block float-right">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
<div class="row justify-content-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Pagination buttons">
        {% if pagination.has_prev %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_meals', page=pagination.prev_num) }}">
                {{ '<<<' }}
            </a>
        {% endif %}

        {% for number in pagination.iter_pages() %}
            {% if number %}
                {% if pagination.page != number %}
                    <a class="page-number btn btn-success" href="{{ url_for('edit.edit_meals', page=number) }}">
                        {{ number }}
                    </a>
                {% else %}
                    <a class="btn btn-success disabled" aria-disabled="true">
                        {{ number }}
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-success disabled" aria-disabled="true">
                    ...
                </a>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a class="page-number btn btn-success" href="{{ url_for('edit.edit_meals', page=pagination.next_num) }}">
                {{ '>>>' }}
            </a>
        {% endif %}
    </div>
</div>
{% else %}
<section class="section-diet">
    <div class="container-fluid text-center">
        <p>No open meals available.</p>
    </div>
</section>
{% endif %}
{% endblock %}