{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field, render_form %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Diet for: {{ date }}</h1>
        <p>Total: {{ total['calories']|round(2) }} kcal, {{ total['protein']|round(2) }} g protein,
            {{ total['carbs']|round(2) }} g carbs, {{ total['fat']|round(2) }} g fat</p>
        <p>Goal: Not yet implemented :(</p>
    </div>
</section>

<section class="section-diet">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 text-center">
                <!-- ADD -->
                <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#addModal">Add Item</button>
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog text-left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addModalLabel">Add Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form method="post">
                                        {{ search_form.csrf_token() }}
                                        {{ render_field(search_form.search) }}
                                        <div class="row justify-content-around">
                                            <div class="col-6">
                                                {{ render_field(search_form.submit) }}
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <!-- COPY -->
                <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#copyModal">Copy Day</button>
                <div class="modal fade" id="copyModal" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
                    <div class="modal-dialog text-left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="copyModalLabel">Copy Day</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form method="post">
                                        {{ date_form.csrf_token() }}
                                        {{ render_field(date_form.date) }}
                                        <div class="row">
                                            <div class="col-6">
                                                {{ render_field(date_form.submit) }}
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <!-- DELETE -->
                <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#deleteModal">Delete All</button>
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog text-left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete All</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form method="post">
                                        {{ delete_form.csrf_token() }}
                                        <p>Are you sure? All current data for this day will be lost.</p>
                                        {{ render_field(delete_form.confirm) }}
                                        <div class="row">
                                            <div class="col-6">
                                                {{ render_field(delete_form.submit) }}
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8 col-md-12">
                {% if diet.items %}
                <div class="row font-weight-bold">
                    <div class="col-4">
                        Name/Calories/Weight
                    </div>
                    <div class="col-2">
                        Protein
                    </div>
                    <div class="col-2">
                        Carbs
                    </div>
                    <div class="col-2">
                        Fat
                    </div>
                </div>
                <hr>
                {% for a in diet.items %}
                <div class="row">
                    <div class="col-10 small-heading">
                        {{ a.item.name }}: {{ (a.item.calories * a.qty / 100 )|round(2)}} kcal
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#Modal{{ a.index }}">
                            Edit
                        </button>
                        <div class="modal fade" id="Modal{{ a.index }}" tabindex="-1" aria-labelledby="Modal{{ a.index }}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Modal{{ a.index }}Label">Edit qty for: {{ a.item.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form method="post">
                                                {{ edit_form.csrf_token() }}
                                                {{ render_field(edit_form.qty) }}
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="submit" class="btn btn-success float-left" value="Edit" name="{{ a.index }}">
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4">
                        {{ (a.qty)|round(2) }} g
                    </div>
                    <div class="col-2">
                        {{ (a.item.protein * a.qty / 100)|round(2) }}
                    </div>
                    <div class="col-2">
                        {{ (a.item.carb * a.qty / 100)|round(2) }}
                    </div>
                    <div class="col-2">
                        {{ (a.item.fat * a.qty / 100)|round(2) }}
                    </div>
                    <div class="col-2">
                        <a href="{{ url_for('user.delete_item_in_day', index=a.index, diet_id=diet.id, date=date) }}" class="btn btn-danger btn-sm btn-block">Delete</a>
                    </div>
                </div>
                <hr>
                {% endfor %}
                {% else %}
                No items yet. Maybe you want to add something?
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}