{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Register - it's 100% free.</h1>
    </div>
</section>
<section class="section-form">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <form method="post">
                    {{ form.csrf_token() }}
                    {{ render_field(form.name) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirmation) }}
                    {{ render_field(form.submit) }}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}