{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form, render_field %}

{% block content %}
<section class="section-header">
    <div class="container-fluid">
        <h1 class="big-heading">Settings</h1>
    </div>
</section>
<section class="section-form">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <ul class="nav nav-pills mb-3 justify-content-around" id="pills-tab" role="tablist">
                    <li class="nav-item w-50 px-2" role="presentation">
                        <button class="btn btn-outline-success w-100 active" id="pills-diet-tab" data-toggle="pill"
                                data-target="#pills-diet" type="button" role="tab" aria-controls="pills-diet"
                                aria-selected="true">Diet</button>
                    </li>
                    <li class="nav-item w-50 px-2" role="presentation">
                        <button class="btn btn-outline-success w-100" id="pills-profile-tab" data-toggle="pill"
                                data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Account</button>
                    </li>
                </ul>
                <div class="tab-content p-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-diet" role="tabpanel" aria-labelledby="pills-diet-tab">
                        <div class="p-2">
                            <h4>Daily Caloric Intake (using percentages)</h4>
                            {{ render_form(diet_goal_percentage_form) }}
                        </div>
                        <div class="p-2">
                            <h4>Daily Macronutrient Goal</h4>
                            <p>Use this if you want specific values only for chosen macros.</p>
                            {{ render_form(diet_goal_macro_form) }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="p-2">
                            <h4>Change Password</h4>
                            {{ render_form(change_password_form) }}
                        </div>
                        <div class="p-2">
                            <h4>Terminate Account</h4>
                            <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#deleteModal">Delete Account</button>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog text-left">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <form method="post">
                                                    {{ delete_form.csrf_token() }}
                                                    <p>Are you sure? You will lose access to the website.</p>
                                                    {{ render_field(delete_form.password) }}
                                                    {{ render_field(delete_form.confirmation) }}
                                                    <div class="row">
                                                        <div class="col-6">
                                                            {{ render_field(delete_form.submitDeleteAccountForm, class="btn-danger") }}
                                                        </div>
                                                        <div class="col-6">
                                                            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}